In [1]:
#Libraries
from haversine import haversine
import plotly.express as px
import plotly.graph_objects as go

#bibliotecas necessárias
import folium
import pandas as pd
import streamlit as st
from PIL import Image

In [2]:
#================
#import dataset
#================
df = pd.read_csv(r'zomato.csv')

In [ ]:
1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [4]:
filtro = df['Cuisines'] == 'Italian'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=False)

                              Aggregate rating
Restaurant Name
Bottega Louie                              4.9
Ombra                                      4.9
Amano Restaurant                           4.9
Osteria Marco                              4.9
Andre's Cucina & Polenta Bar               4.9
...                                        ...
The Pasta Factory                          0.0
Più                                        0.0
Ristorantino                               0.0
La Bocca Bar e Trattoria                   0.0
Bene - Sheraton Rio Hotel                  0.0

[135 rows x 1 columns]

In [ ]:
2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [5]:
filtro = df['Cuisines'] == 'Italian'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=True)

                              Aggregate rating
Restaurant Name
La Bocca Bar e Trattoria                   0.0
Più                                        0.0
Ristorantino                               0.0
The Pasta Factory                          0.0
Bene - Sheraton Rio Hotel                  0.0
...                                        ...
Osteria Marco                              4.9
Bottega Louie                              4.9
Ombra                                      4.9
Andre's Cucina & Polenta Bar               4.9
Amano Restaurant                           4.9

[135 rows x 1 columns]

In [ ]:
3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [6]:
filtro = df['Cuisines'] == 'American'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=False)

                                   Aggregate rating
Restaurant Name
S'MAC                                           4.9
Tocabe, An American Indian Eatery               4.9
Tiny Boxwood's                                  4.9
The Observatory                                 4.9
The Magnolia Pancake Haus                       4.9
...                                             ...
GoneBurger                                      3.7
Hooters                                         3.7
Outback Steakhouse                              3.5
O'Learys                                        3.3
Alston Bar & Beef                               0.0

[113 rows x 1 columns]

In [ ]:
4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [7]:
filtro = df['Cuisines'] == 'American'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=True)

                                   Aggregate rating
Restaurant Name
Alston Bar & Beef                               0.0
O'Learys                                        3.3
Outback Steakhouse                              3.5
Hooters                                         3.7
GoneBurger                                      3.7
...                                             ...
Tiny Boxwood's                                  4.9
The Observatory                                 4.9
The Magnolia Pancake Haus                       4.9
Tocabe, An American Indian Eatery               4.9
S'MAC                                           4.9

[113 rows x 1 columns]

In [ ]:
5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [16]:
filtro = df['Cuisines'] == 'Arabic'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=False)

Empty DataFrame
Columns: [Aggregate rating]
Index: []

In [ ]:
6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [17]:
filtro = df['Cuisines'] == 'Arabic'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=True)

Empty DataFrame
Columns: [Aggregate rating]
Index: []

In [ ]:
7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [18]:
filtro = df['Cuisines'] == 'Japanese'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=False)

                                     Aggregate rating
Restaurant Name
Sushi Leblon                                     4.90
Daikokuya                                        4.80
The Bonsai Restaurant & Cafe Lounge              4.70
Okuzono                                          4.60
Izakaya Kikufuji                                 4.60
Soru Izakaya                                     4.55
Ichiban                                          4.50
Kokoro Mazesoba                                  4.50
Shabu Hachi                                      4.45
Wagamama                                         4.45
Shabu-Shabu Shaburi                              4.40
Raku                                             4.40
Kanpai                                           4.40
Yo Sushi                                         4.30
Mad Samurai                                      4.30
Yuki Japanese Restaurant                         4.30
Kimukatsu                                        4.30
Katsu YA                                         4.20
Mottomoo                                         4.20
KU-O Japanese Restaurant                         4.20
Silver Sushi                                     4.20
Ebi 10                                           4.20
Yuzu                                             4.20
The Ramen Shop                                   4.10
I Japanese Cafe                                  4.10
Ohka                                             4.10
Umezushi                                         4.10
New Koto                                         4.10
wagamama                                         4.10
House of Omurice                                 4.00
Donburi Ya                                       4.00
Sapporo Teppanyaki                               3.95
Shinjuku                                         3.90
Mitsuba                                          3.90
Bamboo Sushi Lounge                              3.80
Sushi Isao                                       3.70
Soho                                             3.60
Kojima                                           3.60
Nippon Kitchen                                   3.60
Kojma                                            3.40
Nazo Sushi Bar                                   3.20
Sushi Loko                                       2.90
Haná                                             2.70
Banzai Sushi                                     0.00

In [ ]:
8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [19]:
filtro = df['Cuisines'] == 'Japanese'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=True)

                                     Aggregate rating
Restaurant Name
Banzai Sushi                                     0.00
Haná                                             2.70
Sushi Loko                                       2.90
Nazo Sushi Bar                                   3.20
Kojma                                            3.40
Kojima                                           3.60
Nippon Kitchen                                   3.60
Soho                                             3.60
Sushi Isao                                       3.70
Bamboo Sushi Lounge                              3.80
Shinjuku                                         3.90
Mitsuba                                          3.90
Sapporo Teppanyaki                               3.95
Donburi Ya                                       4.00
House of Omurice                                 4.00
Ohka                                             4.10
The Ramen Shop                                   4.10
Umezushi                                         4.10
New Koto                                         4.10
wagamama                                         4.10
I Japanese Cafe                                  4.10
Ebi 10                                           4.20
Silver Sushi                                     4.20
KU-O Japanese Restaurant                         4.20
Mottomoo                                         4.20
Katsu YA                                         4.20
Yuzu                                             4.20
Kimukatsu                                        4.30
Mad Samurai                                      4.30
Yuki Japanese Restaurant                         4.30
Yo Sushi                                         4.30
Raku                                             4.40
Kanpai                                           4.40
Shabu-Shabu Shaburi                              4.40
Wagamama                                         4.45
Shabu Hachi                                      4.45
Ichiban                                          4.50
Kokoro Mazesoba                                  4.50
Soru Izakaya                                     4.55
Izakaya Kikufuji                                 4.60
Okuzono                                          4.60
The Bonsai Restaurant & Cafe Lounge              4.70
Daikokuya                                        4.80
Sushi Leblon                                     4.90

In [ ]:
9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [22]:
filtro = df['Cuisines'] == 'Brazilian'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=False)

                         Aggregate rating
Restaurant Name
Aprazível                             4.9
Ola Brasil Restaurant                 4.9
Texas de Brazil                       4.9
Texas De Brazil                       4.8
Zazá Bistrô Tropical                  4.7
Bar do Mineiro                        4.5
Casa da Feijoada                      4.4
Dalva e Dito                          4.4
Filé de Ouro                          4.4
Marisqueira                           4.4
Bem Brasil                            4.3
Oro                                   4.3
Monchique                             4.2
Gaucho Steakhouse                     4.2
Leme Light                            4.1
Viva Brazil                           3.6
Maori                                 3.6
Liv Lounge                            3.3
Confraria Chico Mineiro               3.3
Café das Estrelas                     3.0
Café Savana                           0.0
Cantinho da Gula                      0.0
Rancho Inn                            0.0
Restaurante dos Amigos                0.0
Galeteria Beira Lago                  0.0
Barbosa                               0.0
Capricho Mineiro                      0.0
Inácia Poulet Rôti                    0.0

In [ ]:
10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [23]:
filtro = df['Cuisines'] == 'Brazilian'
df2 = df.loc[filtro, :]

df2.loc[:, ['Restaurant Name', 'Aggregate rating']].groupby('Restaurant Name').mean().sort_values('Aggregate rating', ascending=True)

                         Aggregate rating
Restaurant Name
Rancho Inn                            0.0
Restaurante dos Amigos                0.0
Barbosa                               0.0
Café Savana                           0.0
Cantinho da Gula                      0.0
Capricho Mineiro                      0.0
Galeteria Beira Lago                  0.0
Inácia Poulet Rôti                    0.0
Café das Estrelas                     3.0
Confraria Chico Mineiro               3.3
Liv Lounge                            3.3
Maori                                 3.6
Viva Brazil                           3.6
Leme Light                            4.1
Monchique                             4.2
Gaucho Steakhouse                     4.2
Bem Brasil                            4.3
Oro                                   4.3
Dalva e Dito                          4.4
Casa da Feijoada                      4.4
Marisqueira                           4.4
Filé de Ouro                          4.4
Bar do Mineiro                        4.5
Zazá Bistrô Tropical                  4.7
Texas De Brazil                       4.8
Texas de Brazil                       4.9
Ola Brasil Restaurant                 4.9
Aprazível                             4.9

In [ ]:
11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [25]:
df.loc[:, ['Cuisines','Average Cost for two']].groupby('Cuisines').mean().sort_values('Average Cost for two', ascending=False)

                                                    Average Cost for two
Cuisines
Modern Australian, Australian                                 25000017.0
Asian, Indonesian, Western                                     1200000.0
Asian, Steak                                                    600000.0
Italian, American, Desserts                                     550000.0
Western, Deli                                                   550000.0
...                                                                  ...
European, Asian, Desserts                                            0.0
French, Contemporary, Steak                                          0.0
Fusion, International                                                0.0
North Indian, Italian, Continental, Cafe, Burger                     0.0
Afghan, Asian, BBQ, Chinese, Fast Food, Finger ...                   0.0

[2832 rows x 1 columns]

In [ ]:
12. Qual o tipo de culinária que possui a maior nota média?

In [26]:
df.loc[:, ['Cuisines', 'Aggregate rating']].groupby('Cuisines').mean().sort_values('Aggregate rating', ascending=False)

                                                    Aggregate rating
Cuisines
Chinese, Fusion, Asian                                           4.9
American, Burger, Sushi                                          4.9
Filipino, International, Southern                                4.9
Mediterranean, Deli, Kebab                                       4.9
Pizza, Italian, Sandwich                                         4.9
...                                                              ...
Mineira, Brazilian                                               0.0
Tea                                                              0.0
Asian, Japanese, Thai, Korean, Brazilian, Chinese                0.0
North Indian, Chinese, Bengali                                   0.0
Afghan, Asian, BBQ, Chinese, Fast Food, Finger ...               0.0

[2832 rows x 1 columns]

In [ ]:
13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [27]:
filtro = df['Has Online delivery'] | df['Is delivering now']
df2 = df.loc[filtro, :]

df2.loc[:, ['Cuisines', 'Restaurant Name']].groupby('Cuisines').count().sort_values('Restaurant Name', ascending=False)

          Restaurant Name
Cuisines
Italian              7527